<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>FIWARE Cloud Portal</title>

        

        <!-- Date: 2012-03-13 -->
        <!-- CSS Libs -->
        <link href='css/lib/bootstrap.css' media='screen' rel='stylesheet' />
        <link href='css/lib/bootstrap-responsive.css' media='screen' rel='stylesheet' />
        <link href="css/lib/font-awesome.min.css" rel="stylesheet" />
        <link href='css/lib/jquery.qtip.min.css' media='screen' rel='stylesheet' />
        <link href="css/lib/jScrollPane.css" rel="stylesheet" type="text/css" media="all" />
        <link href='css/lib/chosen_fiware.css' media='screen' rel='stylesheet' />
        <link href='css/lib/jquery.selectbox.css' media='screen' rel='stylesheet' />

        <!-- Old CSS -->
        <link href='css/style.css' media='screen' rel='stylesheet' />
        <link href='css/application.css' media='screen' rel='stylesheet' />

        <!-- New CSS -->
        <link href='css/all.css' media='screen' rel='stylesheet' />

        <link href="ico/favicon.ico" rel="shortcut icon">
        <link href="ico/apple-touch-icon-144-precomposed.png" sizes="144x144" rel="apple-touch-icon-precomposed">
        <link href="ico/apple-touch-icon-114-precomposed.png" sizes="114x114" rel="apple-touch-icon-precomposed">
        <link href="ico/apple-touch-icon-72-precomposed.png" sizes="72x72" rel="apple-touch-icon-precomposed">
        <link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">

        <script type="text/javascript" src="../lib/require.js"></script>
        <script type="text/javascript" src="../lib/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="../lib/jquery.knob.js"></script>
        <script type="text/javascript" src="../lib/underscore.js"></script>
        <script type="text/javascript" src="../lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../lib/bootstrap-contextmenu.js"></script>
        <script type="text/javascript" src="../lib/jstack.js"></script>
        <script type="text/javascript" src="../lib/ovf.js"></script>
        <script type="text/javascript" src="../lib/xml2json.js"></script>
        <script type="text/javascript" src="../lib/sdc.js"></script>
        <script type="text/javascript" src="../lib/bp.js"></script>
        <script type="text/javascript" src="../lib/backbone.js"></script>
        <script type="text/javascript" src="../lib/jquery.selectbox-0.1.3.min.js"></script>
        <script type="text/javascript" src="../lib/jquery.sortable.min.js"></script>
        <script type="text/javascript" src="../lib/spin.min.js"></script>
        <script type="text/javascript" src="../lib/jquery.tinyscrollbar.js"></script>
        <script type="text/javascript" src="../lib/Blob.js"></script>
        <script type="text/javascript" src="../lib/FileSaver.js"></script>
        <script type="text/javascript" src="../lib/speedometer.js"></script>
        <script type="text/javascript" src="../lib/Chart.js"></script>
        <script type="text/javascript" src="../lib/monitoring.js"></script>
        <script type="text/javascript" src="../lib/encoder.js"></script>
        <script type="text/javascript" src="../lib/chosen_fiware.jquery.js"></script>
        <script type="text/javascript" src="../lib/cookies_policy.js"></script>
        <!--<script type="text/javascript" src="../lib/jquery.qtip.min.js"></script>-->

        <% if (useIDM) { %>
        <script src="<%= account_server %>/assets/signOut.js" type="text/javascript"></script>

        <script type="text/javascript">
            var regex = new RegExp("[\\#&]token=([^&#]*)");
            var token = regex.exec(location.hash);

            if (token === null) {

              createCookie('goal_path', location.hash, 1);

              var parts = location.hash.split('&reg=');

              if (parts.length > 1) {
                createCookie('goal_path', parts[0], 1);
                createCookie('goal_region', parts[1], 1);
              }

              window.location.href = '/idm/auth';
            }
        </script>

        <% } %>

        <script>
            window.addEventListener("load", function() {
                setTimeout(function() {
                    window.scrollTo(0, 0);
                }, 0);
            });
            function loadTemplates(urls, callback) {
                var total = urls.length;
                var amount = 0;
                for (var index in urls) {
                    var url = urls[index];

                    $.ajax({
                        url: url + "?random=" + Math.random()*99999,
                        asynx: false, // synchonous call in case code tries to use template before it's loaded
                        success: function (response) {
                            $('head').append(response);
                            amount++;
                            if (amount == total) {
                                callback();
                            }
                        }
                    });
                }
            }
            $(document).ready(function(){
                $('.bar').css({width: "0%"});
                loadTemplates([
                    'templates.html'
                ], function(){
                    $('.bar').css({width: "30%"});
                    console.log("Templates loaded.");
                    require(["libs.js"], function() {
                        $('.bar').css({width: "50%"});
                        require(["../lib/jquery.qtip.min.js"], function() {
                            require(["models.js"], function() {
                                $('.bar').css({width: "70%"});
                                require(["views.js"], function() {
                                    $('.bar').css({width: "90%"});
                                    require(["routes.js"], function() {
                                        $('.bar').css({width: "100%"});
                                        $('#initbar').hide();
                                        host = document.URL.match(/(http.?:\/\/[^\/]*)\/.*/)[1];
                                        <%if (keystone_version === 3) {%>
                                        UTILS.Auth.initialize(host + "/keystone/v3/", host + "/keystone-admin/v3/", <%= useIDM %>);
                                        <%} else {%>
                                        UTILS.Auth.initialize(host + "/keystone/v2.0/", host + "/keystone-admin/v2.0/", <%= useIDM %>);
                                        <%}%>
                                        var fiRouter = new OSRouter();
                                        Backbone.history.start();
                                    })
                                })
                            })
                        })
                    })
                });
            });
        </script>


            </head>
    <body id="splash" >
        <!--
        Description: Index page
        src: index.html
        -->
        <% if (useIDM) { %>

        <header id="oil-nav" class="navbar">
          <nav class="navbar-inner">

            <div class="logo-header">
              <a href="<%=portals['Help&info']%>" class="brand logo-header">
                <img alt="FI-LAB" class="fiware-logo" src="images/header/Fi-lab.png">
              </a>
            </div>

            <div class="dropdown mobile hidden">
              <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                <i class='arrow-down-settings'></i>
              </a>

              <ul class="dropdown-menu dropdown-menu-header">
                <li class="cloud active">
                  <a href="<%=portals['Cloud']%>">
                    Cloud
                  </a>
                </li>
                <%for (var p in portals) {
                  if (p !== 'Account' && p !== 'Cloud' && p !== 'Help&info') {
                  %>
                <li class="store">
                  <a href="<%=portals[p]%>">
                    <%=p%>
                  </a>
                </li>
                <%}}%>
                <li class="idm">
                  <a href="<%=portals['Account']%>">
                    Account
                  </a>
                </li>
                <li class="help">
                  <a href="<%=portals['Help&info']%>">
                    Help&info
                  </a>
                </li>
              </ul>
            </div>


            <ul class="oil-portal hidden-phone hidden-tablet">
              <li class="cloud active">
                  <a href="<%=portals['Cloud']%>">
                    Cloud
                  </a>
                </li>
                <%for (var p in portals) {
                  if (p !== 'Account' && p !== 'Cloud' && p !== 'Help&info') {
                  %>
                <li class="store">
                  <a href="<%=portals[p]%>">
                    <%=p%>
                  </a>
                </li>
                <%}}%>
                <li class="idm">
                  <a href="<%=portals['Account']%>">
                    Account
                  </a>
                </li>
                <li class="help">
                  <a href="<%=portals['Help&info']%>">
                    Help&info
                  </a>
                </li>
            </ul>

            <ul class="nav pull-right nav-user">
              <li class="dropdown">

                <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                  <i class='arrow-down-settings'></i>
                </a>

                <ul class="dropdown-menu">
                  <li class="dropdown-submenu pull-left">
                    <ul class="dropdown-menu dropdown-menu-header">
                      <li>
                        <a>
                          <img src="images/header/user.png">
                          name
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li class="settings-menu">
                    <a href="<%=portals['Account']%>/settings">
                      Settings
                    </a>
                  </li>

                  <li class="divider">
                  </li>

                  <li>
                    <a href="#" onclick="Fiware.signOut('cloud'); return false">
                      Sign Out
                    </a>
                  </li>
                </ul>
              </li>
            </ul>

          </nav>
        </header>

        <% } %>
        <div class="container">
            <div id='auth'></div>

            <div id='root'></div>
        </div>
        <div id="initbar" class="progress progress-striped active">
            Loading FIWARE Cloud Portal...
            <div class="bar2" style="width: 100%;"></div>
            <div class="bar" style="width: 0%;"></div>
        </div>

        <div id="my_mo_modal" style="top: 20%; display: none;" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h3>Important info</h3>
              </div>
              <div class="modal-body">
                <!--<p>Dear User, <br><br>
Please select the Spanish Region for deploying your virtual machines. The rest of the regions may be accessible, but they are under configuration and testing. Therefore, they may exhibit some problems until current configuration and testing is finished.<br><br>
Please don't hesitate to contact us reporting any problem you may experience on FIWARE Lab by sending an email to <a href="mailto:fiware-lab-help@lists.fi-ware.org">fiware-lab-help@lists.fi-ware.org</a><br><br>
Thanks</p>-->
<p>Dear User, <br><br>
By clicking the “I accept” link below, you declare to accept the new defined policies.  Otherwise, you can still work with your account but note that it will be removed by the defined deadline and the FIWARE Lab providers will not be responsible for creating a copy of the data you stored on the FIWARE Lab.<br><br>
<a href="http://terms.lab.fiware.org/accept">I Accept</a><br><br>
Thanks</p>

              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-blue">Continue</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="no_orgs_modal" style="top: 20%; display: none;" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h3>Important info</h3>
              </div>
              <div class="modal-body">
<p>Dear User, <br><br>
Currently you are not authorized to use Cloud resources in any project. If you want to enjoy Cloud environment you can ask other users to share their projects with you using the Account Portal. <br><br>You can also manage your own project getting a Trial account or, if your Trial period has expired, applying for a community account following the <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_Lab:_Upgrade_to_Community_Account">application process</a>. <br><br>And of course you can also use all the other FIWARE Lab capabilities in the <a href="http://account.lab.fiware.org">Account Portal</a>.<br><br>
Thanks</p>

              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-blue">Continue</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </body>
</html>
